# Python
__pycache__/
*.pyc

# Env
.env
.env.*

# Logs
*.log
*.txt

# Data & results
data/
fl_results/
temp_sssd/

# ML artifacts
*.pth
checkpoints/

# OS / IDE
.DS_Store
.vscode/
